/* add your styles here */
h1 {
    text-align: center;
  }
  
#images{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 16px; /* Adjust the gap between images as needed */
    justify-content: center; /* Center the grid horizontally */
    margin-top: 20px; /* Add margin for spacing */
  }
  
  img {
    max-width: 100%; /* Ensure images don't exceed the container width */
    height: auto; /* Maintain the aspect ratio of the images */
    display: block; /* Remove default inline behavior */
    border-radius: 8px; /* Add border-radius for a rounded appearance */
  }
  